@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  /* background: #1c8ef9 !important; */

  /* display: flex; */
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.wrapper {
  background-image: url("./images/austin-distel-EMPZ7yRZoGw-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.auth-inner {
  width: 450px;
  margin-top: 40px;
  /* background: #ffffff; */
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: 0.4s;
}
@media only screen and (max-width: 600px) {
  .auth-inner {
    width: auto;
  }
}
div.auth-inner:hover {
  border: 1px solid rgba(#f2f4f8, 0);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05), 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.01);
}

div.auth-inner:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.1s;
}

.wrapper .form-control:focus {
  border-color: #1e549b;
  box-shadow: none;
}

.wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #f2f4f8;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

/*userpage*/
.sidebar {
  height: 100%;
  /* width: 120px; */
  position: fixed;
  z-index: 1;
  /* top: 0; */
  margin-top: 0%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* .main { */
/* margin-left: 160px; Same as the width of the sidenav */
/* padding: 0px 10px; */
/* } */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
